.img {
    background-image: url(../../assets/my-img.jpg);
    width: 80%;
    height: 80vh;
    align-items: center;
    display: grid;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
}